.custom-tabs {
    .nav-link {
      color: #1e293b !important;
      transition: color 0.3s ease;
  
      &:hover {
        color: #fbbf24 !important;
      }
    }
  
    .nav-link.active {
      color: #fbbf24 !important;
    }
  }